---------------- * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#hero-section {
  width: 100%;
  background-color: #1f2937;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px 95px 80px;
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
.header-logo {
  font-size: 24px;
}
.hero-content {
  display: flex;
  gap: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.left-content p,
nav ul {
  font-size: 18px;
  color: #e5e7eb;
}
.left-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.left-content a {
  background-color: #3882f6;
  padding: 5px 25px;
  border-radius: 10px;
  max-width: fit-content;
}

/* random info section */
#random-info {
  width: 100%;
}

.random-info-wrapper {
  padding: 40px 150px 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

#random-info-wrapper h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.container-info {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.info-card {
  max-width: 230px;
}
.info-card > p {
  color: #6c7480;
}
.info-card img {
  border: 1px solid lightcoral;
  border-radius: 10px;
  height: 150px;
  width: 100%;
  object-fit: cover;
}
/* quote-section */
#quote-section {
  width: 100%;
  background-color: #e5e7eb;
}
.qoute-section-wrapper {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.content-container {
  max-width: 800px;
}
.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}
.quote-author {
  font-weight: bold;
  margin-left: auto;
  width: fit-content;
  font-size: 20px;
}
/* cta section  */
#cta-section {
  width: 100%;
  padding: 80px 250px;
}
.cta-container {
  background-color: #3882f6;
  padding: 40px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  max-width: 1400px;
  margin: 0 auto;
}
.cta-container a {
  border: 2px solid #fff;
  padding: 5px 25px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}
.description {
  color: white;
}
/* footer */
footer {
  padding: 25px;
  background-color: #1f2937;
}
footer p {
  text-align: center;
  color: #e5e7eb;
}
